@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-tableBg: rgba(244, 243, 240, 1);
  --color-title: rgba(27, 26, 26, 0.8);
  --color-heading: rgba(55, 65, 81, 1);
  --color-text: rgba(27, 26, 26, 0.7);
  --color-placeholder: rgba(27, 26, 26, 0.6);
}

/* -----------------------------
   Base Styles
------------------------------*/
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }
}

/* -----------------------------
   Utilities
------------------------------*/
/* @layer utilities {
  .tableBg {
    background-color: var(--color-tableBg);
  }
  .text-title {
    color: var(--color-title);
  }

  .text-placeholder {
    color: var(--color-placeholder);
  }
} */
